.unselect() {
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.warp {
  width: 100%;
  padding: 30px;
}
.text {
  .unselect();
}
.line {
  height: 50px;
  line-height: 50px;
}
