@ease-in-out              : cubic-bezier(.645, .045, .355, 1);
.headerStyle {
  position: fixed;
  width: 100%;
  background: #fff;
}
.content {
  padding: 0 50px;
  margin-top: 64px;
  height: calc(~ '100vh - 64px - 72px - 1px');
  overflow: hidden;
}
.footerStyle {
  text-align: center;
  line-height: 24px;
  background: #fff;
  border-top: 1px solid #e8e8e8;
}
